
body {
    max-width: 600px;
    margin: auto;
    background-color: rgb(225, 206, 183);
    font-family:'Times New Roman', Times, serif;
}
#ID {
    font-weight: bold;
    line-height: 1.8;
}
.famille {
    font-weight: bold;
    line-height: 1.8;
}
#cart, #veg, #animals, #char, #myth {
    text-decoration:underline;
}

h4 #ID {
    font-weight: normal;
    text-decoration:underline;
}
.barre-rech {
    display: grid; 
    grid-template-columns: 250px 1fr;
    padding-left: 0%;
    
}

.coté {
    position: fixed;
    width: 250;
    height: 100%;
    border-right: 1px solid rgb(185, 168, 147);
    padding: 20px;
    background-color: rgb(247, 226, 201);
}

.haut{
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(80, 61, 37) ;
}

.titre-cote {
    display: flex;
    font-weight:300 ;
    color: rgba(124, 92, 49, 0.947);
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.titre-cote:hover {
    background-color: rgba(124, 91, 49, 0.272);
    border-radius: 10px;
}
.titre-cote.active {
    background: rgb(204, 177, 143);
    border-radius: 10px;
}

.main-contenu {
    padding-left: 240px;
    padding-right: auto;
    padding-top: 20px;
    color: rgb(80, 61, 37) ;
    
}

input {
    background-color:rgb(247, 226, 201) ;
    font-family:'Times New Roman', Times, serif; 

}
input ::placeholder {
    color: rgba(124, 92, 49, 0.947);
}


canvas {
    border : solid 1px rgb(80, 61, 37);
    background-color: rgb(247, 226, 201);

    
    
}
#titre {
    color: rgb(80, 61, 37) ;
    
    border-radius: 10px;
    padding: 10px;
}

p{
    background-color: rgba(124, 91, 49, 0.272);
    border-radius: 10px;
    padding: 10px;
}
#skins, #cartee {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(80, 61, 37, 0.768);
}

#lr {
    text-decoration: none;
    color: rgb(80, 61, 37) ;
}
button{
    color: rgba(124, 92, 49, 0.947);
    background-color: rgb(247, 226, 201);
    border-color:rgba(80, 61, 37, 0.67) ;
}

#patate{
   color: rgb(80, 61, 37) ;
    background-color: rgba(124, 91, 49, 0.272);
    border-radius: 10px;
    padding: 10px; 
}

#titre1 {
    color: rgb(80, 61, 37) ;
    background-color: rgba(124, 91, 49, 0.272);
    border-radius: 10px;
    padding: 10px;
    margin-left: 230px;
}