
body {
    max-width: 600px;
    margin: auto;
    background-color: rgb(225, 206, 183);
    font-family:'Times New Roman', Times, serif;
}
#ID {
    font-weight: bold;
    line-height: 1.8;
}
.famille {
    font-weight: bold;
    line-height: 1.8;
}
#cart, #veg, #animals, #char, #myth {
    text-decoration:underline;
}

h4 #ID {
    font-weight: normal;
    text-decoration:underline;
}
.barre-rech {
    display: grid; 
    grid-template-columns: 250px 1fr;
    padding-left: 0%;
    
}

.coté {
    position: fixed;
    width: 250;
    height: 100%;
    border-right: 1px solid rgb(185, 168, 147);
    padding: 20px;
    background-color: rgb(247, 226, 201);
}

.haut{
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(80, 61, 37) ;
}

.titre-cote {
    display: flex;
    font-weight:300 ;
    color: rgba(124, 92, 49, 0.947);
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.titre-cote:hover {
    background-color: rgba(124, 91, 49, 0.272);
}
.titre-cote.active {
    background: rgb(204, 177, 143);
}

.main-contenu {
    margin-left: 240px;
    margin-right: auto;
    margin-top: 20px;
    
}

input {
    background-color:rgb(247, 226, 201) ;
    font-family:'Times New Roman', Times, serif; 
}

