body{
    /* border: solid 1px green; */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

h1, h2, p {
    /* border: solid 1px orange; */

}

#navigation {
    background-color: lightblue;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navigation ul {
    /* border: solid 1px blue; */
    width: fit-content;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    
}

#navigation li {
    display: inline;
    /* border: solid 1px red; */
    margin-right: 20px;
    margin-left: 20px;
}

img.img-centre {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.img-float {
    width: 150px;
    float:left;
    margin-right: 10px;
}