h1 {
    background-color: rgb(205, 176, 144);
    border-radius: 10px;
    display:inline-block;
}
body {
    background-color: rgb(225, 206, 183)
}
details {
    background-color: rgb(205, 176, 144);
    border-radius: 10px;
    
}
label{
    color: blueviolet;
}
form{
    color: brown;
}
input{
    color: blue;
    background-color: aqua;
}