body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(207	73	96)	;
}
h2, h3 {
    color:darkseagreen;
    background-color: bisque;

} 
#bienvenue {
    border: 1px solid;
}
.imp {
    border: 2px solid gray
}

.imp > strong {text-decoration: underline wavy;
    color:cadetblue;
    font-style: italic;}